$whiteColor: #fff;
$blackColor: #272822;
$grayColor: #373832;
$brightColor: #474842;
$brighterColor: #575852;

$highlightColor: #999;
$incomeColor: #4a8e40;
$outcomeColor: #a0303d;
$rawColor: #8e8e40;

/* $deepColor: #272035;
$brightColor: #46445b;

$greenColor: #475b44;
$grassColor: #4a8e40; */
