@import './colors';

@mixin panel {
  box-sizing: border-box;
  background-color: $grayColor;
  border: 1px solid $brightColor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@function gridContainerWidth($width, $columns, $spacing) {
  @return ($width * $columns) + ($spacing * 2 * $columns);
}

@mixin highlighted {
  outline: 3px double $highlightColor;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  // box-shadow: 0 4px 8px 0 rgba(255, 255, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 0, 0.19);
}
