@import '../../styles/colors';

.input {
  width: 108px;
  height: 16px;
  margin-bottom: 5px;
  padding: 1px;
  color: $whiteColor;
  font-size: 12px;
  text-align: right;
  background-color: $blackColor;
  border: 1px solid $brightColor;
  box-sizing: border-box;
}
