@import '../../styles/colors';

.root {
  display: flex;
  border: 1px solid $brightColor;
  margin-bottom: 5px;
}

.toggle {
  width: 25px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $whiteColor;
  font-size: 18px;
  user-select: none;
}

.plus {
  background-color: $incomeColor;
}

.plusHoverable {
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba($incomeColor, 0.5);
  }
}

.minus {
  background-color: $outcomeColor;
}

.minusHoverable {
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba($outcomeColor, 0.5);
  }
}
