@import '../../styles/colors';
@import '../../styles/models';

.root {
  @include panel;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  font-size: 16px;

  button {
    border: 1px solid $blackColor;
    background-color: $brightColor;
    padding: 2px;
    margin-right: 5px;
    transition: filter 0.2s;
    width: 21px;
    height: 21px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover {
      filter: contrast(60%)
    }
  }
}

.header {
  text-align: center;
  border-bottom: 2px solid $blackColor;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;

  :last-child {
    margin-right: 0;
  }
}

.button.button {
  width: auto;
  color: $whiteColor;
  padding: 5px;
  line-height: 0.5rem;
}

.icon {
  width: 15px;
  height: 15px;
  background-size: contain;
}

.incomeIcon {
  background: url(./assets/income.png);
  @extend .icon;
}

.outcomeIcon {
  background: url(./assets/outcome.png);
  @extend .icon;
}

.detailsIcon {
  background: url(./assets/details.png);
  @extend .icon;
}

.incomeText {
  color: $incomeColor;
}

.outcomeText {
  color: $outcomeColor;
}

.rawText {
  color: $rawColor;
  font-weight: bold;
  font-size: 20px;
}
