@import '../../styles/colors';

.container {
  width: 100px;
  height: 16px;
  font-size: 10px;
  color: $whiteColor;
  background-color: $blackColor;
  border: 1px solid $brightColor;
  box-sizing: border-box;
}
