@import './styles/colors';

.root {
  background-color: $blackColor;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 2vh 3vw 2vh;
  color: $whiteColor;
  font: 18px sans-serif;
  letter-spacing: 0.05vw;
}
