@import '../../styles/models';

$itemWidth: 125px;
$itemHeight: 125px;
$itemMargin: 10px;

.root {
  @extend .list;
  display: flex;
  flex-wrap: wrap;
}

.list {
  width: gridContainerWidth($itemWidth, 7, 10px);
}

.item {
  width: $itemWidth;
  margin: $itemMargin;
}

.flowItem {
  @extend .item;
  height: $itemHeight;
}

.emptyItem {
  width: $itemWidth;
  height: $itemHeight;
  margin: $itemMargin;
  visibility: hidden;
}

.current {
  @include highlighted;
}
